div{
    width: 400px;
    height: 250px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dot{height: 100px;
width: 100px;
background-color: aliceblue;
border-radius: 50%;



}