div{height: 553px;
background-color: darkorchid;
color: black;
border: 5px solid black;
width: 22%;
float: left;
padding: 20px;
margin-left: 10px;
}

h1{text-align: center;}

img{margin-left: 80px;
    width: 218px;
height: 250px;
}