h1{
    color: #34eb80;
}
#a1{
    color: darkorange;
}

.f8{color: rgb(239,159,145);}
body{background-color: brown;}

div{background-color: darkmagenta;}

#hh{background-color: bisque;}

#a1{text-align: center;}